:root{
    --black:#000000;
    --white: #FFFFFF;
    --primary: #F9FF00;
    --secondary: #009FD0;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    height: 100vh;
}


/*NAVBAR*/

.logo{
    color: white;
    font-size: 20px; 
    font-family: Aglet Sans; 
    font-weight: 700; 
    word-wrap: break-word
}

.nav-elements{
    color: white; 
    font-size: 14px; 
    font-weight: 400; 
    word-wrap: break-word;
}

.nav-button{
    width: 159px; 
    height: 43px; 
    position: relative; 
    border: 1px #00BCF4 solid;
    color: white; 
    font-size: 14px;
    font-weight: 500; 
    word-wrap: break-word;
}

.button-text{
    left: 40px; 
    top: 9px; 
    position: absolute; 
    color: white; 
    font-size: 14px;
    font-weight: 500; 
    word-wrap: break-word;
    text-align: center;
    justify-content: center;
}

.bg-image-1{
    background-image: url('/images/hero.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}